html {
  background-color: #000000;
  height: 100%;
}

@font-face {
  font-family: "profont";
  src: url("profont.woff");
}

@font-face {
  font-family: "porsche";
  src: url("porsche.woff");
}

@font-face {
  font-family: "nicokaku";
  src: url("nicokaku.woff");
}

@font-face {
  font-family: "porsche";
  src: url("porsche.woff");
}

body {
    text-align: center;
    color: #FFFFFF;
    font-family: "Arial", monospace;
    font-size: 17px;
    height: 100%;
}

.about {
  background-image: url('../images/portraitofme.jpg');
  background-size: contain;
}

p {
    text-align: center;
    color: #FFFFFF;
    font-family: "Arial", monospace;
    font-size: 250%;
    line-height: 100%
}

h1 {
    text-align: left;
    color: #FFFFFF;
    font-family: "Arial", monospace;
    font-size: 50px;
}

a {
    text-align: left;
    color: #FFFFFF;
    font-family: "Arial", monospace;
    font-size: 20px;
}

li {
  text-align: left;
  color: #FFFFFF;
  font-family: "Arial", monospace;
  font-size: 20px; 
}

code {
  width: 100%;
  text-align: left;
  color: #FFFFFF;
  font-family: "Arial";
  font-size: 20px;
  display: block;
  line-height: 100%;
  word-wrap: break-word;
}

img {
  image-orientation: from-image;
}

div.mainmenu {
    width: 20%;
    text-align: center;
    color: #FFFFFF;
    font-family: "Helvetica", monospace;
    font-weight: bold;
    font-size: 12px;
    line-height: 2vw;
    text-decoration: none;
    padding-top: 15%;
}

a.bulletpoints {
  font-family: porsche;
  font-size: 30px;
  font-weight: bold;
  color: #b60000;
  text-decoration: none;
}

div.mainbody{
  text-align: left;
  color: #FFFFFF;
  font-family: profont;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 8%;
  font-size: 2vw;
  line-height: 40px;
  left: 50%;
  text-decoration: none;
}

.copyright {
  padding-bottom: 2%;
}

.offset {
  animation: letter-flicker 5s infinite;
}

a.bannertext:hover {
  -webkit-animation: neon 1.5s ease-in-out infinite alternate;
  -moz-animation: neon 1.5s ease-in-out infinite alternate;
  animation: neon 1.5s ease-in-out infinite alternate;
  color: #ffffff;
}

div.banner {
  padding-top: 5%;
  color: #ffffff;
  height: 9.5vw;
  text-align: left;
  padding-right: 9%;
  padding-left: 9%;
}

img.bannerlogo {
  text-align: right;
  float: right;
}

a.bannertext {
  font-size: 12vw;
  text-decoration: none;
  font-family: "Helvetica";
  font-weight: bold;
  font-style: italic;
  word-spacing: 2vw;
  letter-spacing: 0.6vw;
  text-align: left;
  line-height: 10vw;
  transform: translate(-50%, -50%);
  animation: text-flicker 10s infinite;
  color: #ffffff
}

a.smallbanner {
  height: 9.5vw;
  text-align: left;
  padding-right: 9%;
  padding-left: 9%;
}

a.smallbannertext {
  font-family: nicokaku;
  text-decoration: none;
  font-size: 5.5vw;
  text-align: left;
}

a.smallbannerdeco {
  font-family: porsche;
  text-decoration: none;
  font-size: 5vw;
  font-weight: bold;
  text-align: right;
  letter-spacing: 0vw;
  float: right;
  color: #00ff00;
}

a.menuitem:link {
  /* Applies to all unvisited links */
  text-decoration:  none;
  color:            #ffffff;
}

/*
a.menuitem:visited {
  text-decoration:  none;
  color:            #ffffff;
}
*/

a.menuitem:hover   {
  /* Applies to links under the pointer */
  text-decoration: none;
  background-color: #b60000;
  color:            #ffffff;
}

a.menuitem:active   {
  /* Applies to links under the pointer */
  text-decoration: bold;
  background-color: #ffffff;
  color:            #b60000;
}

p.mainbody {
  text-align: center;
}

@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 10px #00ad17, 0 0 17px #00ad17, 0 0 30px #00ad17, 0 0 40px #00ad17, 0 0 70px #00ad17, 0 0 80px #00ad17, 0 0 100px #00ad17, 0 0 150px #00ad17;
  }
  to {
    text-shadow: 0 0 5px #00ad17, 0 0 10px #00ad17, 0 0 17px #00ad17, 0 0 17px #00ad17, 0 0 35px #00ad17, 0 0 40px #00ad17, 0 0 50px #00ad17, 0 0 75px #00ad17;
  }
}

@-moz-keyframes neon {
  from {
    text-shadow: 0 0 10px #00ad17, 0 0 17px #00ad17, 0 0 30px #00ad17, 0 0 40px #00ad17, 0 0 70px #00ad17, 0 0 80px #00ad17, 0 0 100px #00ad17, 0 0 150px #00ad17;
  }
  to {
    text-shadow: 0 0 5px #00ad17, 0 0 10px #00ad17, 0 0 17px #00ad17, 0 0 17px #00ad17, 0 0 35px #00ad17, 0 0 40px #00ad17, 0 0 50px #00ad17, 0 0 75px #00ad17;
  }
}

@keyframes neon {
  from {
    text-shadow: 0 0 10px #00ad17, 0 0 17px #00ad17, 0 0 30px #00ad17, 0 0 40px #00ad17, 0 0 70px #00ad17, 0 0 80px #00ad17, 0 0 100px #00ad17, 0 0 150px #00ad17;
  }
  to {
    text-shadow: 0 0 5px #00ad17, 0 0 10px #00ad17, 0 0 17px #00ad17, 0 0 17px #00ad17, 0 0 35px #00ad17, 0 0 40px #00ad17, 0 0 50px #00ad17, 0 0 75px #00ad17;
  }
}
    /*REEEEEEEEEEESPONSIVE*/
    
@media (max-width: 650px) {
#container {
  width: 100%;
}
p {
  font-size: 3.5em;
}
}

@keyframes text-flicker {
0% {
  opacity:0.6;
  text-shadow: 0px 0px 29px #00ad17;
}

2% {
  opacity:1;
  text-shadow: 0px 0px 29px #00ad17;
}
8% {
  opacity:0.6;
  text-shadow: 0px 0px 29px #00ad17;
}
9% {
  opacity:1;
  text-shadow: 0px 0px 29px #00ad17;
}
12% {
  opacity:0.6;
  text-shadow: 0px 0px #00ad17;
}
20% {
  opacity:1;
  text-shadow: 0px 0px 29px #00ad17
}
25% {
  opacity:0.6;
  text-shadow: 0px 0px 29px #00ad17
}
30% {
  opacity:1;
  text-shadow: 0px 0px 29px #00ad17
}

70% {
  opacity:0.6;
  text-shadow: 0px 0px 29px #00ad17
}

72% {
  opacity:0.5;
  text-shadow:0px 0px 29px #00ad17
}

77% {
  opacity:.9;
  text-shadow: 0px 0px 29px #00ad17
}
100% {
  opacity:.9;
  text-shadow: 0px 0px 29px #00ad17
}
}

@keyframes letter-flicker {
0% {
  opacity:1;
  text-shadow: 0px 0px 29px #00ad17;
}
1% {
  opacity:0.7;
  text-shadow: 0px 0px 29px #00ad17;
}
3% {
  opacity:1;
  text-shadow: 0px 0px 29px #00ad17;
}
5% {
  opacity:0.7;
  text-shadow: 0px 0px 29px #00ad17;
}
6% {
  opacity:1;
  text-shadow: 0px 0px 29px #00ad17;
}
7% {
  opacity: 0.7;
  text-shadow: 0px  0px 29px  #00ad17
}
9% {
  opacity: 1;
  text-shadow: 0px  0px 29px  #00ad17
}
35% {
  opacity: 0.7;
  text-shadow: 0px  0px 29px  #00ad17
}
50% {
  opacity: 1;
  text-shadow: 0px  0px 29px  #00ad17
}
}