html {
  background-color: black;
}

body {
    text-align: center;
    color: #FFFFFF;
    font-family: "Share Tech Mono", monospace;
    font-size: 17px;
}

p {
    text-align: center;
    color: #FFFFFF;
    font-family: "Share Tech Mono", monospace;
    font-size: 250%;
    line-height: 100%
}

h1 {
    text-align: left;
    color: #FFFFFF;
    font-family: "Share Tech Mono", monospace;
    font-size: 50px;
}

a {
    text-align: left;
    color: #FFFFFF;
    font-family: "Share Tech Mono", monospace;
    font-size: 20px;
}

li {
  text-align: left;
  color: #FFFFFF;
  font-family: "Share Tech Mono", monospace;
  font-size: 20px; 
}

code {
  width: 100%;
  text-align: left;
  color: #FFFFFF;
  font-family: "Share Tech Mono", monospace;
  font-size: 20px;
  line-height: 80%;
  word-wrap: normal;
  transform: scaleY(0.2);
}

img {
  image-orientation: from-image;
}

div.mainmenu {
    text-align: center;
    color: #FFFFFF;
    font-family: "Share Tech Mono", monospace;
    padding-top: 8%;
    font-size: 2vw;
    line-height: 40px;
    left: 50%;
    text-decoration: none;
    padding-bottom: 10%;
    width: 50%;
}

div.mainbody{
  text-align: left;
  color: #FFFFFF;
  font-family: "Share Tech Mono", monospace;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 8%;
  font-size: 2vw;
  line-height: 40px;
  left: 50%;
  text-decoration: none;
  padding-bottom: 10%;
}

.copyright {
  padding-bottom: 2%;
}

img.mainmenu {
  width: 10%;
  height: 10%;
}

a.bannername:hover {
  color: #00bfff
}

@font-face {
  font-family: "din black";
  src: url("DINblack.ttf");
}

div.banner {
  padding-top: 8%;
}

a.bannername {
  font-size: 12vw;
  text-decoration: none;
  font-family: "din black";
  font-style: italic;
  left: 50%;
  word-spacing: 2vw;
  letter-spacing: 0.6vw;
  line-height: 10vw;
  transform: translate(-50%, -50%);
  color: #ff00e9
}

a.menuitem:link {
  /* Applies to all unvisited links */
  text-decoration:  none;
  color:            #ff00e9;
}
a.menuitem:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  color:            #00bfff;
}
a.menuitem:hover   {
  /* Applies to links under the pointer */
  text-decoration: none;
  background-color: #ff00e9;
  color:            #000000;
}

a.menuitem:active   {
  /* Applies to links under the pointer */
  text-decoration: bold;
  background-color: #ff00e9;
  color:            #FFFFFF;
}

p.mainbody {
  text-align: center;
}

@keyframes opacityOn {
  0% {
      opacity: 1;
  }
  25% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  75% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}